# Producción
NEXT_PUBLIC_API_URL=https://valhallamc.lat/api
# Desarrollo local (descomentar para desarrollo)
# NEXT_PUBLIC_API_URL=http://localhost:5000/api

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_tu_clave_publica_stripe

